[alias]
	st = status
	r = rebase -i origin/master
	pr = !git fetch && git rebase origin/master
	aa = commit --amend -a
	a = commit --amend
	rc = rebase --continue
	ce = commit --allow-empty -m \"Empty commit\"
	c = commit
[include]
    path = ~/.gitconfig.local
