[alias]
	st = status
	r = rebase -i origin/master
	pr = !git fetch origin && git rebase $(__detect_git_base)
	aa = commit --amend -a --no-edit
	a = commit --amend
	rc = rebase --continue
	ce = commit --allow-empty -m \"Empty commit\"
	c = commit
	redate = !env EDITOR=true git rebase -i -x 'git commit --amend --reset-author' origin/master
[include]
    path = ~/.gitconfig.local

[core]
	excludesFile = "~/.gitignore-home"
